# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Playwright
playwright-report/
test-results/

# Capacitor App 敏感文件
.env.app
android/.gradle/
android/build/
android/app/build/
android/app/src/main/res/raw/server.crt
